local.properties
*.iml
.idea/gradle.xml
build/
.idea/
.gradle/
app/build/
baseui/build/
InternationalPavilionShopCenter/.gradle/buildOutputCleanup/cache.properties
InternationalPavilionShopCenter/.gradle/buildOutputCleanup/cache.properties
*.iml
InternationalPavilionShopCenter/.idea/gradle.xml
InternationalPavilionShopCenter/.gradle/buildOutputCleanup/cache.properties
InternationalPavilionShopCenter/baseui/baseui.iml
InternationalPavilionShopCenter/.gradle/buildOutputCleanup/cache.properties
InternationalPavilionShopCenter/.idea/caches/build_file_checksums.ser
InternationalPavilionShopCenter/.idea/gradle.xml
InternationalPavilionShopCenter/.idea/misc.xml
InternationalPavilionShopCenter/app/app.iml
InternationalPavilionShopCenter/baseui/baseui.iml
InternationalPavilionShopCenter/InternationalPavilionShopCenter.iml
